@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Raleway:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border: 0;
    font-family: "raleway";
}

#menu {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    height: 70px;
    width:100%;
    background-color: rgba(0,0,0,0.05);
    line-height: 75px;
}

/* Navbar styling */

#menu ul {
    width: 100%;
}

.menu-li {
    display: inline;
    width: 50%;
    text-align: center;
    float: left;
}

.menu-li a {
    text-decoration: none;
    font-family: "raleway";
    font-weight: bold;
}

.menu-li a:hover {
    border-bottom: solid 3px;
}

/* Heading Styling */

#header-container {
    padding: 0;
}

#img-container {
    width: 100%;
    height:900px;
    margin: auto;
    padding: 0;
    position: relative;
}

#front-image {
    height: 800px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, white),
      url(/assets/img/Europe-Background.jpg);
    overflow: hidden;
}

#image-text {
    top: 200px;
    font-family: "Montserrat Subrayada";
    width: 500px;
    height: 400px;
    justify-content: center;
}

#image-text h1 {
    text-align: center;
    top: 200px;
    width: 100%;
    position: absolute;
    margin: auto;
    font-size: 60px;
    color: rgba(0,51,102, 0.9);
}

.map-container {
    margin-top: 300px;
    height: 1000px;
}

#map {
    height: 650px;
    width: 80%;
    margin: auto;
    bottom: 0;
}

/* Travel destination styling  */

#location-section {
    height: 800px;
    margin-bottom: 500px;
}

#section-header {
    width: 100;
    text-align: center;
    margin-bottom: 30px;
    color: rgba(0,51,102, 1);
    font-family: "Montserrat Subrayada";
}

.location-row {
    margin-top: 15px;
}


.location-header {
    text-align: center;
    font-family: "Montserrat Subrayada";
    text-decoration: none;
    color: rgba(0,51,102, .8);
}

.location-header h2 {
    margin-bottom: 0;
}

.location {
    height: 175px;
    width: 100%;
    margin-top: 2px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(0,51,102,1);
    border-radius: 8px;
}


/* Image links */

.london {
    background-image: url(/assets/img/london.jpg);
    background-position: center center;
}

.bath {
    background-image: url(/assets/img/bath.jpg);
    background-position: 55% 50%;
}

.edinburgh {
    background-image: url(/assets/img/edinburgh.jpg);
    background-position: 50% 30%;
}

.cork {
    background-image: url(/assets/img/cork.jpg);
    background-position: 70% 45%;
}

.saint-malo {
    background-image: url(/assets/img/saint-malo.jpg);
    background-position: 20% 15%;
}

.seville {
    background-image: url(/assets/img/seville.jpg);
    background-position: 10% 30%;
}

.rijeka {
    background-image: url(/assets/img/rijeka.jpg);
    background-position:40% 78%;
}

.cascais {
    background-image: url(/assets/img/cascais.jpg);
    background-position:60% 45%; 
}

.bruges {
    background-image: url(/assets/img/bruges.jpg);
    background-position:50% 30% ;
}

.budapest {
    background-image: url(/assets/img/budapest.jpg);
    background-position:50% 50% ;
}

.rome {
    background-image: url(/assets/img/rome.jpg);
    background-position:50% 50% ;
}

.venice {
    background-image: url(/assets/img/venice.jpg);
    background-position:50% 50% ;
}

.vienna {
    background-image: url(/assets/img/vienna.jpg);
    background-position:50% 50% ;
}

.verona {
    background-image: url(/assets/img/verona.jpg);
    background-position:50% 50% ;
}

.florence {
    background-image: url(/assets/img/florence.jpg);
    background-position:50% 50% ;
}

.athens {
    background-image: url(/assets/img/athens.jpg);
    background-position:50% 50% ;
}

.rovinj {
    background-image: url(/assets/img/rovinj.jpg);
    background-position:50% 50% ;
}

.prague {
    background-image: url(/assets/img/prague.jpg);
    background-position:50% 50% ;
}